.SelectList-box{
    display: flex;
    width: 500px;
    height: 100%;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
  }

.SelectList-hibbb{
    margin-top: 10px;
    display: flex;
    border-top: 3px solid #402020;
    height: 100px;
    width: 500px;
}

.SelectList-hiaaa{
    display: flex;
    height: 100%;
    width: 100%;
}

.SelectList-bbb{
    display: flex;
    border: 3px solid #402020;
    margin: 5px;
}

.SelectList-bbbname {
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    margin-right: 20px;
}

.SelectList-bbbprice {
    display: flex;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.SelectList-aaa {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    border: 1px solid #ffebb5; 
    background-color: #ffebb5; 
    border-radius: 16px;
    box-shadow: inset 0 0 8px #deb13a;
    width: 450px; 
    height: 300px;
    margin: 10px;
  }

  .input-name{
    display: flex;
    width: 450px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }