.UserSelectItem-table-wrap{
    display: block;
    width: 1300px;
    height: 800px;
  }

.UserSelectItem-table-title {
    display:flex;
    border-bottom: solid 1px #2c22bb;
    width: 100%; 
    height: 100px;
    flex-wrap: wrap; /* 추가 */
    justify-content: center; /* 추가 */
    align-items: center;
    font-family: IBM Plex Sans KR-Light;
    font-size: 35px;
    font-weight: bold;
  }

  .UserSelectItem-table-titlea{
    height: 50px;
  }
.bold{
  font-weight: bold;
}

.my-div {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em 0;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border: solid 3px #000000;
    border-radius: 10px;
    width: 1024px;
    height: 100%;
  }

  .info-in{
    display: flex;
    flex-wrap: wrap; /* flex-wrap 속성을 wrap으로 설정 */
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .UserSelectItem-set-buttons{   /*클릭하는 버튼용*/
    display: flex;
    flex-wrap: wrap; /* flex-wrap 속성을 wrap으로 설정 */
    margin: 20px;
    justify-content: center;
  } 

  .UserSelectItem-abc{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
    width: 307px;
    height: 137px;
    top: 0;
    left: 0;
  }

  .UserSelectItem-table-button-wrapper{
    position: relative;
  }

  .UserSelectItem-imga {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99px;
    height: 68px;
    z-index: 1;
    top: 0px;
    margin-top: 0.25px;
    margin-bottom: 0.25px;
    margin-left: 1.5px;
    margin-right: 1px;
    border: 1px solid #000000;
  }
  
  .UserSelectItem-imgadetail{
    display: flex;
    width: 99px;
    height: 64px;
  }

  .UserSelectItem-imgmain1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.3%;
    height: 50%;
    position: relative;
    z-index: 0;
    border: 1px solid #c6bcfe; 
  }

  .UserSelectItem-table-button {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
    height: 140px;
  } 

  .UserSelectItem-table-div1 {
    position: relative;
    display: flex; /* display 속성을 flex로 설정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    border: 1px solid #ffebb5; 
    background-color: #ffebb5; 
    border-radius: 16px;
    box-shadow: inset 0 0 8px #deb13a;
    width: 310px; 
    height: 140px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
  }

  .UserSelectItem-itemset{
    position: relative;
    display: flex; /* display 속성을 flex로 설정 */
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    border: 1px solid #000; 
    background-color: #ffffff; 
    width: 350px; 
    height: 500px;
    margin: 30px;
  }

  .UserSelectItem-username{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-bottom: 2px solid #b5dcff;
  }

  .UserSelectItem-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 200px;
    font-size: 20px;
    border-bottom: 2px solid #b5dcff;
  }

  .UserSelectItem-table-detail1{
    display: flex;
    flex-direction: row;
    position: absolute;
    top : -30px;
    left : -290px;
    flex-wrap: wrap;
    border: 3px solid #295fb7;
    background-color: #ffffff;
    border-radius: 10px;
    width: 1000px; 
    height: auto;
    margin: 1em 0;
    margin-left:35%;
    z-index: 10;
    font-family: IBM Plex Sans KR-Light;
  }

  .U{
    display: flex;
    flex-direction: column;
  }

  .UserSelectItem-table-detail2 {              /* 부품별 창 */
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex; /* display 속성을 flex로 설정 */
    align-items: center; /* 수직 가운데 정렬 */
    border: 3px solid #b5dcff; 
    background-color: #f9f9f9;
    width: 430px; 
    height: 230px;
    margin: 15px;
  }
  
  .color-img{
    margin-left: 2px;
    margin-right: 2px;
  
  }

  .info-name{
    display: flex;
    width: 420px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }

  .UserSelectItem-info-detaill {
    display: flex;
    flex-direction: column;
  }
  
  .UserSelectItem-info-detail2 {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  }
  
  .UserSelectItem-info-detail3 {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 5px;
  }
  
  .UserSelectItem-table-head{
    display: flex;
    height: 70px;
    width: 992px;
  }
  
  .UserTable{
    display: flex;
    width: 500px;
  }

  .border-size{
    width: 800px;
    margin-left: 96px;
    border-bottom:2px solid #2c22bb;
  }

  .UserSelectItem-headcss{
    display: flex;
    width: 500px;
    margin-left: 324px;
    align-items: center;
    height: 70px;
    font-size: 35px;
    font-weight: bold;
  }

  .UserSelectItem-pagination{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
  }

  .UserSelectItem-pagination-number{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
  }
  
  .UserSelectItem-pagination-click{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    margin-right: 3px;
    border: 0px;
    background-color: #f9f9f9;
  }

  .UserSelectItem-pagination-animation:hover{
    transition: all 0.3s ease;
    width: 40px;
    height: 40px;
  }

  .UserSelectItem-Xbutton {    /* 닫기 버튼용 */
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: #ffffff;
    margin-left: 58px;
    margin-top: 10px;
  }

  .UserSelectItem-table-detail-img {     /*상세보기 이미지*/
    display: flex;
    width: 120px;
    height: 150px;
    border: 3px solid #b5dcff; 
    margin-left: 10px;
    margin-right: 10px;
  }

  .UserSelectItem-table-set{
  display: flex;
  border: 3px solid #b5dcff;
  width: 350px;
  height: 100px;
  margin-right: 10px;
}

.UserSelectItem-table-detail-name {
  display: flex;
  width: 475px;
  height: 75px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.info-box{
  display: flex;
  width: 400px;
  height: 200px;
}

.UserSelectItem-info-pricebrand {
  display: flex;
  width: 200px;
  height: 50px;
  border-top:1px solid #dcdcdc; 
  border-bottom: 1px solid #dcdcdc; 
  align-items: center;
}

.UserSelectItem-table-detail-price {   /*상세보기 가격*/
  display: flex;
  width: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.UserSelectItem-table-detail-rink {     /*상세보기 이미지*/
  display: flex;
  width: 100px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.UserSelectItem-info-rink{
  display: flex;
  margin-left: 13px;
  justify-content: center;
  align-items: center;
}


.UserSelectItem-jjim{
  display: flex;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  align-items: center;
  margin-right: 70px;
}

.UserSelectItem-jjimbuttonwrap{
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}


.jello-horizontal1 {
	animation: jello-horizontal1 0.9s both;
}
.jello-horizontal2 {
  animation: jello-horizontal2 0.9s both;
}
.jello-horizontal3 {
  animation: jello-horizontal3 0.9s both;
}

@keyframes jello-horizontal1 {
  0% {
            transform: scale3d(1, 1, 1);
  }
  30% {
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
            transform: scale3d(1, 1, 1);
  }
}

.UserSelectItem-jjimbutton1{
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 0px;
  justify-content: center;
  align-items: center;
}

.UserSelectItem-jjimimg1{
  display: flex;
}



.UserSelectItem-jjimnumber{
  display: flex;
  width: 40px;
  height: 40px;
  font-size: 22px;
}

.UserSelectItem-main1{
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 7;
  position: relative;
}

.UserSelectItem-mainbackone{
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 8;
  margin-left: 64px;
  margin-top: 2px;
  border-radius: 100px;
}